# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcscmblueprint

# Swift Package Manager
Packages/
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Firebase
GoogleService-Info.plist

# Temporary files
*.swp
*.xcuserstate
*.moved-aside
*.xcuserdatad
*.orig

# Xcode Preview cache
**/.swiftpm/xcode/xcshareddata/

# App-specific
*.xcassets/Preview\ Content/


